/* Skillanime.css */

/* Fade and slide-in animation from left to right */
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.skill-card {
  animation-name: slideInFromLeft;
  animation-timing-function: ease-out;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  opacity: 0; /* Initially hidden */
}

/* Hover effect to scale and change color */
.skill-card:hover {
  transform: scale(1.0);
  transition: transform 0.6s ease, background-color 0.3s ease;
  background-color: rgba(246, 243, 243, 0.892); /* Slight darkening */
}

/* Optional: You can change the hover effect to something more distinctive, like changing color. */
.skill-card:hover .fa-icon {
  color: #fff; /* Make the icon color white on hover */
}
